/* STUB | OPTIONS CSS */

#logo {
  width: 180px;
}

button {
  min-width: 170px;
  margin: 7px;
  padding: 1px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #000;
  background-color: #ffffff;
  border: 1px;
  border-radius: 7px;
  box-shadow: 0 5px #999;
  font-size: 16px;
  min-height: 24px;
  vertical-align: middle;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

button:active {
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

h1 {
  font-size: 20px
}

button.authorized {
  background: green
}

/* Github SSO button */
#oauth-2 #oauth2-2 {
  background-color: #24292e;
  color: #ffffff;
}

body {
  max-width: 200px;
  height: 259px;
  background-color: #eeeeee;
  text-align: center;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 92%;
  vertical-align: middle;
}
