body {
    background-color: #EEEEEE;
}

button {
    min-width: 150px;
    margin: 7px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #EEEEEE;
    background-color: #FFFFFF;
    border: 1px;
    border-radius: 7px;
    box-shadow: 0 5px #999;
}

button:active {
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}

#unload {
    border-color: #80CFE2;
    color: #80CFE2;
}

#unload:hover {
    color: #FFFFFF;
    background-color: #80CFE2;
}

#load {
    border-color: #0C5FA8;
    color: #0C5FA8;
}

#load:hover {
    color: #FFFFFF;
    background-color: #0C5FA8;
}

#unloadTest {
    border-color: #60017C;
    color: #60017C;
}

#unloadTest:hover {
    color: #FFFFFF;
    background-color: #60017C;
}

#loadTest {
    border-color: #F0037F;
    color: #F0037F;
}

#loadTest:hover {
    color: #FFFFFF;
    background-color: #F0037F;
}


/* Streamline Colors
- [ ] #80CFE2 - lightest blue
- [ ] #00A0C6 - lighter blue
- [ ] #0C5FA8 - light blue
- [ ] #60017C - purple
- [ ] #AC057E - pink
- [ ] #F0037F - hot pink
- [ ] #4F1E72 - purp2 
*/