/* STUB | POPUP.CSS */

/* General Styles */
body {
  background-color: #eeeeee;
}

i {
  vertical-align: text-top;
}

button:active {
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

/* Button Styles */
button {
  min-width: 170px;
  margin: 7px;
  padding: 1px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #eeeeee;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 7px;
  box-shadow: 0 5px #999;
  font-size: 16px;
  min-height: 24px;
  vertical-align: middle;
}

button:disabled {
  cursor: no-drop;
}

/* Unload Button */
#unload {
  border-color: #80cfe2;
  color: #80cfe2;
}

#unload:hover:enabled {
  color: #ffffff;
  background-color: #80cfe2;
}

/* Load Button */
#load {
  border-color: #00a0c6;
  color: #00a0c6;
}

#load:hover:enabled {
  color: #ffffff;
  background-color: #00a0c6;
}

/* Unload Test Button */
#unloadTest {
  border-color: #0c5fa8;
  color: #0c5fa8;
}

#unloadTest:hover:enabled {
  color: #ffffff;
  background-color: #0c5fa8;
}

/* Load Test Button */
#loadTest {
  border-color: #60017c;
  color: #60017c;
}

#loadTest:hover:enabled {
  color: #ffffff;
  background-color: #60017c;
}

/* Options Button */
#options {
  color: #ad047e;
  border-color: #ad047e;
  display: inline-block;
}

#options:hover:enabled {
  color: #ffffff;
  background-color: #ad047e;
}

/* Logs Button */
#logs {
  color: #f0037f;
  border-color: #f0037f;
  display: inline-block;
}

#logs:hover:enabled {
  color: #ffffff;
  background-color: #f0037f;
}

/* Streamline Colors
- [ ] #80CFE2 - lightest blue - UNLOAD BML
- [ ] #00A0C6 - lighter blue - LOAD BML
- [ ] #0C5FA8 - light blue - UNLOAD TEST BML
- [ ] #60017C - purple - LOAD TEST BML
- [ ] #AD047E- pink - options
- [ ] #F0037F - hot pink - logs
*/

/* Icon Sizes */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Icon Colors */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/* Footer */
footer {
  text-align: center;
}